.footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2rem 0;
    margin-top: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.links a {
    color: var(--secondary-color);
    margin-left: 20px;
    font-size: 0.9rem;
}

.links a:hover {
    text-decoration: underline;
}